@model List<Category>
@{
    ViewData["Title"] = "Özellik";
}

<div class="p-3 d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Yeni
    </a>
</div>

<div class="accordion" id="accordionExample">
    @foreach (var category in Model)
    {
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_@category.Id" aria-expanded="true" aria-controls="collapseOne">
                        @category.NameTr <span class="badge badge-primary">@category.Specifications.Count</span>
                    </button>
                </h2>
            </div>

            <div id="collapse_@category.Id" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col width="200" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <div class="d-flex align-items-center">
                                        <img src="https://flagsapi.com/TR/flat/24.png" class="mr-2">
                                        Ad
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex align-items-center">
                                        <img src="https://flagsapi.com/GB/flat/24.png" class="mr-2">
                                        Ad
                                    </div>
                                </th>
                                <th>
                                    Aktif
                                </th>
                                <th>
                                    <div class="d-flex align-items-center">
                                        İşlemler
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in category.Specifications)
                            {
                                <tr>
                                    <td>@item.NameTr</td>
                                    <td>@item.NameEn</td>
                                    <td>
                                        @if (item.IsEnabled)
                                        {
                                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                        }
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-2">
                                                <i class="fas fa-pen" aria-hidden="true"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger remove-btn">
                                                <i class="fas fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>




@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(() => {
            $('.remove-btn').on('click', (e) => {
                Swal.fire({
                    icon: 'warning',
                    title: 'Uyarı!',
                    html: 'Bu kayıt tamamen silinecektir. Devam etmek istiyor musunuz?',
                    showCancelButton: true,
                    cancelButtonText: 'İptal',
                    confirmButtonText: 'Sil',
                })
                    .then((result) => {
                        if (result.isConfirmed)
                            window.location = $(e.currentTarget).attr('href');
                    });
                return false;
            });
        });
    </script>
}