@inject MVCECommerceDbContext dbContext

@{
    var catalogs = dbContext.Catalogs.Where(p => p.IsEnabled).OrderBy(p => p.NameTr).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - MVCECommerce</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="text-warning fw-bold">MVC</span><span class="text-body-secondary">ECommerce</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ANA SAYFA</a>
                    </li>
                    <li class="nav-item app-dropdown-toggle">
                        <a class="nav-link" href="#">KATALOGLAR</a>
                        <div class="app-dropdown">
                            <ul class="nav flex-column">
                                @foreach (var catalog in catalogs)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route="Catalog" asp-route-name="@catalog.NameTr.ToSafeUrlString()" asp-route-id="@catalog.Id">@catalog.NameTr</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="ara..." aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Arama</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", false)

    <script>
        $(() => {
            $('.app-dropdown-toggle').on('mouseenter', (e) => {
                $(e.currentTarget).find('div').addClass('active');
            });
            $('.app-dropdown-toggle').on('mouseleave', (e) => {
                $(e.currentTarget).find('div').removeClass('active');
            });
        });
    </script>
</body>
</html>