@inject MVCECommerceDbContext dbContext

@{
    var catalogs = dbContext.Catalogs.Where(p => p.IsEnabled && p.Products.Any(q => q.IsEnabled)).OrderBy(p => p.NameEn).ToList();
    var categories = dbContext.Categories.Where(p => p.IsEnabled && p.Products.Any(q => q.IsEnabled)).OrderBy(p => p.NameEn).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - MVCECommerce</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-4">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <span class="text-warning fw-bold">MVC</span><span class="text-body-secondary">ECommerce</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form asp-controller="Home" asp-action="Search" method="get" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" name="keyword" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">HOME</a>
                    </li>
                    <li class="nav-item app-dropdown-toggle">
                        <a class="nav-link" href="#">CATALOGS</a>
                        <div class="app-dropdown">
                            <ul class="nav flex-column">
                                @foreach (var catalog in catalogs)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route="Catalog" asp-route-name="@catalog.NameEn.ToSafeUrlString()" asp-route-id="@catalog.Id">@catalog.NameEn</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item app-dropdown-toggle">
                        <a class="nav-link" href="#">CATEGORIES</a>
                        <div class="app-dropdown">
                            <ul class="nav flex-column">
                                @foreach (var category in categories)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route="Category" asp-route-name="@category.NameEn.ToSafeUrlString()" asp-route-id="@category.Id">@category.NameEn</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var userId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!);
                        var shoppingCartItems = dbContext.ShoppingCartItems.Where(p => p.UserId == userId).Sum(p => p.Quantity);
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Profile" asp-controller="Account">
                                <i class="bi bi-person"></i>
                                @User.FindFirst(ClaimTypes.GivenName)!.Value
                            </a>
                        </li>
                        <li class="nav-item me-4">
                            <a asp-action="Checkout" asp-controller="Account" class="nav-item btn btn-link position-relative">
                                <i class="bi bi-cart"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                    @(shoppingCartItems > 99 ? "99+" : shoppingCartItems)
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Logout" asp-controller="Account">
                                <i class="bi bi-power"></i>
                                Signout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Account">
                                <i class="bi bi-person-check"></i>
                                Signin
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="Account">
                                <i class="bi bi-person-plus"></i>
                                Register
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <ul class="nav flex-column">
                        @foreach (var catalog in catalogs)
                        {
                            <li class="nav-item">
                                <a asp-route="Catalog" asp-route-id="@catalog.Id" asp-route-name="@catalog.NameEn.ToSafeUrlString()" class="nav-link text-white">
                                    @catalog.NameEn
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="nav flex-column">
                        @foreach (var category in categories)
                        {
                            <li class="nav-item">
                                <a asp-route="Category" asp-route-id="@category.Id" asp-route-name="@category.NameEn.ToSafeUrlString()" class="nav-link text-white">
                                    @category.NameEn
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-12 col-md-4 d-flex flex-column align-items-center gap-3">
                    <div class="d-flex align-items-center justify-content-center gap-3">
                        <a href="http://www.instagram.com">
                            <i class="bi bi-instagram text-light fs-2"></i>
                        </a>
                        <a href="http://www.facebook.com">
                            <i class="bi bi-facebook text-light fs-2"></i>
                        </a>
                        <a href="http://www.tiktok.com">
                            <i class="bi bi-tiktok text-light fs-2"></i>
                        </a>
                    </div>
                    <a href="mailto:destek@@mvcecommerce.com" class="text-warning text-decoration-none">destek@@mvcecommerce.com</a>
                    <a href="tel:+902165555555" class="text-warning text-decoration-none">+90 216 555 55 55</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.3/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.3/dist/sweetalert2.min.css">
    <script>
        $(() => {
            $('.app-dropdown-toggle').on('mouseenter', (e) => {
                $(e.currentTarget).find('div').addClass('active');
            });
            $('.app-dropdown-toggle').on('mouseleave', (e) => {
                $(e.currentTarget).find('div').removeClass('active');
            });
        });

        @if (TempData["success"]!=null)
        {
        <text>
        Swal.fire({
            icon: 'success',
            title: 'Thanks',
            html: '@TempData["success"]',
            toast: true,
            position: 'top-end',
        })
        </text>
        }

    </script>
</body>
</html>